*{
	padding: 0;
	margin: 0;
}
html{
	font-size: 100px;
	font-family: 'Microsoft YaHei';
}

ul li{
	list-style: none;
}


img{
	width: 100%;
}

a{
	text-decoration: none;
}

body{
	width: 16rem;
	margin: 0 auto;
}

.fl{
	float: left;
}

.fr{
	float: right;
}

.cl:after{
	clear:both;
	content:'';
}

.bold-red{
	color: #e62129;
	font-weight: bold;
}

.red{
	color: #e62129;
	font-weight: normal;
}














