header{
	height: 1.2rem;
	background: #4f1f28;
	border-bottom: 0.03rem #37151b solid;
}

.logo{
	width: 3.05rem;
	height: 1.18rem;
	display: block;
	margin-left: 0.15rem;
}

header p{
	width: 1.6rem;
	height: 1.2rem;
	margin-right: 0.15rem;
	background: url(../img/weixin.png) left no-repeat;
	background-size: 0.59rem 0.49rem;
}

header p img{
	width: 0.59rem;
	height: 0.49rem;
}

header p span{
	font-size: 0.14rem;
	display: inline;
	line-height: 0.25rem;
	color: #ffffff;
	width: 55%;
	float: left;
	padding-left: 45%;
}

header p span:first-child{
	margin-top: 0.35rem;
}

/*nav*/
nav ul{
	height: 0.53rem;
}

nav ul li{
	width: 25%;
	border-right: 1px solid #d1c3b5;
	height: 0.53rem;
	float: left;
}

nav ul li a{
	color: #694115;
	font-size: 0.2rem;
	display: block;
	text-align: center;
	line-height: 0.53rem;
}

/*banner*/
.banner{
	width: 100%;
	height: 4.58rem;
	position: relative;
}


.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.swiper-pagination .swiper-pagination-bullet {
  width: 0.2rem;
  height: 0.2rem;
  text-align: center;
  line-height: 0.2rem;
  font-size: 0;
  color:#000;
  opacity: 1;
  background: #ffffff;
  border: 1px solid #4f1f28;
}
.swiper-pagination .swiper-pagination-bullet-active {
	width: 0.2rem;
	line-height: 0.2rem;
	height: 0.2rem;
	border: none;
  	background: #c90e11;
  	border: 1px solid #c90e11;
} 








