
/*banner*/
.banner{
	width: 100%;
	height: 11.45rem;
	position: relative;
	overflow: hidden;
}
 

.swiper-slide {
  text-align: center;
  font-size: 0.45px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.swiper-pagination .swiper-pagination-bullet {
  width: 0.5rem;
  height: 0.5rem;
  text-align: center;
  line-height: 0.5rem;
  font-size: 0;
  color:#000;
  opacity: 1;
  background: #ffffff;
  border: 1px solid #4f1f28;
}
.swiper-pagination .swiper-pagination-bullet-active {
	width: 0.5rem;
	line-height: 0.5rem;
	height: 0.5rem;
	border: none;
  	background: #c90e11;
  	border: 1px solid #c90e11;
} 


.tiaoli{
	width: 100%;
	background: url(../images/tiaoli_bg.jpg) no-repeat;
	background-size: cover;
}

.tiaoli hgroup{
	height:3.125rem;
	width:6.325rem;
	margin: 0 auto;
	padding-top: 0.375rem;
}

.tiaoli  p{
	width: 15.25rem;
	text-indent: 2em;
	font-size: 0.4rem;
	line-height: 0.75rem;
	color: #0f0f0f;
	margin: 0 auto;
}

.tiaoli .tedian{
	width: 15.25rem;
	margin: 0 auto;
}

.tiaoli .tedian hgroup{
	width: 100%;
	height: 1.575rem;
	border-bottom: 1px solid #955d59;
}

.tedian-content{
	background: url(../images/tedian_bg.png) no-repeat;
	height: 26.925rem;
	width: 15.25rem;
	background-size: 15.25rem 26.925rem;
}

.tedian-content ul{
	padding-top: 0.5rem;
}

.tedian-content ul li{
	width: 100%;
	margin-left: 0.4rem;
}

.tedian-content ul li img{
	width: 2rem;
	height: 2rem;
	padding: 0.25rem 0;
}

.tedian-content ul li p{
	width: 12.5rem;
	font-size: 0.45rem;
	line-height: 0.75rem;
	color: #0f0f0f;
	text-indent: 0;
	padding-left: 0.35rem;
	float: left;
}

.tedian-content ul li span{
	height: 0;
	width: 14.3rem;
	display: block;
	float: left;
	border-bottom: 1px dotted #dadada;
}

.tedian-content ul li:last-child p:las{
	margin-bottom: 0.5rem;
}

.tedian_image{
	padding-top: 0.5rem;
	width: 100%;
	height:7.125rem ;
	float: left;
	padding-bottom: 0.5rem;
}

.tedian_image img{
	width: 13.9rem;
	display: block;
	margin:0 auto;
	border: 0.1rem solid #FFFFFF;
}

p.tedian-text:first-child{
	margin-top: 0.75rem;
}

p.tedian-text{
	font-size: 0.45rem;
	color: #0F0F0F;
	line-height: 0.75rem;
	text-indent: 2em;
	float: left;
	width: 95%;
	display: block;
	margin-top: 0.5rem;
	margin-left: 0.45rem;
}


.youmian{
	width: 100%;
	background: url(../images/youmian_bg.jpg);
	background-size: cover;
}

.youmian hgroup{
	height:2.9rem;
	width:7.875rem;
	margin: 0 auto;
	padding-top: 0.375rem;
}

.youmian hgroup img{
	height:2.9rem;
	width:7.875rem;	
}

.youmian ul{
	width: 15.25rem;
	margin: 0 auto;
}

.youmian ul li{
	height:5.8rem ;
}

.youmian ul li:last-child{
	height: 8.075rem;
}

.youmian ul li img{
	display: block;
	width: 2.35rem;
}

.youmian-li-con-first{
	height: 5.1rem;
	width: 12.9rem;
	background: url(../images/youmian_text_bg1.png) no-repeat;
	background-size: cover;
}

.youmian-li-con-secod{
	height: 5.1rem;
	width: 12.9rem;
	background: url(../images/youmian_text_bg2.png) no-repeat;
	background-size: 12.9rem 5.1rem;
}

.youmian-li-con{
	padding-top: 0.2rem;
}

.youmian-li-con h4{
	font-weight: normal;
	font-size: 0.5rem;
	color: #0F0F0F;
	line-height: 0.925rem;
	margin-left: 0.75rem;
}

.youmian-li-con p{
	text-indent: 2em;
	font-size: 0.45rem;
	color: #0F0F0F;
	line-height: 0.6rem;
	width:11.8rem;
	margin-left: 0.75rem;
}

.youmian-li-con-third{
	height: 7.1rem;
	width: 12.9rem;
	background: url(../images/youmian_text_bg3.png) no-repeat;
	background-size: 12.9rem 7.1rem;
}

.youmian_weixin{
	width: 100%;
	height: 5.2rem;
	position: relative;
}

.youmian_weixin span{
	position: absolute;
	font-size: 0.75rem;
	color: #bf0004;
	line-height: 0.75rem;
	top: 0.95rem;
	right:2.5rem;
	font-weight: bold;
}

.zuozhen{
	width: 100%;
	background: url(../images/zuozhen_bg.jpg);
	background-size: cover;
}

.zuozhen hgroup{
	height:3.025rem;
	width:9.625rem;
	margin: 0 auto;
	padding-top: 0.5rem;
}

.zuozhen p{
	color: #606060;
	line-height: 0.65rem;
	font-size: 0.45rem;
	width: 15rem;
	margin: 0 auto;
}

.zuozhen-video{
	width: 14.55rem;
	margin: 0.75rem auto 0;
	height: 8.425rem;
	background: url(../images/zuozhen_video_bg.png) center no-repeat;
}

.zuozhen-video video{
	display: block;
	width: 13.95rem;
	height: 7.875rem;
	margin: 0 auto;
	padding-top: 0.25rem;
}

p.zuozhen-video-title{
	line-height: 1.125rem;
	text-align: center;
	color: #606060;
	font-size: 0.45rem;
}

.zuozhen_banner{
	width: 14.55rem;
	height: 11.275rem;
	margin: 0 auto;
	background: url(../images/zuozhen_banner_bg.png);
	background-size: cover;
	padding-top: 2.5rem;
	position: relative;
	overflow: hidden;
}

.zuozhen-banner-box{
	width: 9.825rem;
	height: 9.7rem;
	margin: 0 auto;
	overflow: hidden;
}

.zuozhen-banner-box img{
	float: left;
}

.zuozhen-banner-box p{
	display: block;
	float: left;
	width: 100%;
	text-align: left;
	text-indent: 2em;
}

.swiper-slide{
	display: inline-block;
	background: none;
	overflow: hidden;
}

.swiper-pagination2{
	position: absolute;
	width: 9.825rem;
	left: 50% !important;
	bottom: 1.5rem !important;
	margin-left: -1rem;
	overflow: hidden;
}

.swiper-pagination2 .swiper-pagination-bullet {
  width: 0.5rem;
  height: 0.5rem;
  text-align: center;
  line-height: 0.5rem;
  font-size: 0;
  color:#000;
  opacity: 1;
  background: #bfb09d;

}
.swiper-pagination2 .swiper-pagination-bullet-active {
	width: 0.5rem;
	line-height: 0.5rem;
	height: 0.5rem;
	border: none;
  	background: #ffffff;

} 

.baituo{
	width: 100%;
}

.baituo hgroup{
	width: 15.25rem;
	height: 3.275rem;
	margin: 0 auto;
}

.baituo-video{
	width: 15rem;
	height: 8.475rem;
	margin: 0 auto;
	border: 3px solid #e7e7e6;
}

.baituo ul li{
	width: 15rem;
	margin: 0 auto;
	padding: 0.5rem 0;
	display: block;
}

.baituo ul li img{
	width: 3.2rem;
	height: 3.2rem;
	margin-top: 0.75rem;
	padding-bottom: 0.2rem;
}

.baituo ul li .fr{
	width: 11.8rem;
	
}

.baituo ul li .fr span{
	font-size: 0.5rem;
	color: #bebebe;
	line-height: 0.75rem;
}

.baituo ul li .fr p{
	color: #191919;
	line-height: 0.625rem;
	font-size: 0.45rem !important;
	margin-left: 0.1rem;
}

.baituo ul li label{
	width: 100%;
	height: 1px;
	display: block;
	float: left;
	border-bottom: 1px dotted #dadada;
}

.baituo ul li .fr img{
	display: block;
	width: 7.35rem;
	height: 5rem;
	margin:0 0 0 0.35rem;
	padding-bottom: 0.2rem;
}




/*culture*/

.yangsheng{
	width: 15.25rem;
	margin: 0 auto;
}

.yangsheng-content{
	width: 13.75rem;
	padding:0 0.75rem;
	margin: 0 auto;
	background: url(../images/culture_bg.jpg) no-repeat;
	background-size: cover;
}

.yangsheng-content p{
	text-indent: 2em;
	color: #292929;
	font-size: 0.45rem;
	line-height: 0.6rem;
	padding: 0.75rem 0 0.5rem;
}

.yangsheng-content img{
	margin-bottom: 0.25rem;
	display: block;
}

.yangsheng-content img:last-child{
	padding-bottom: 0.6rem;
	margin: 0 auto;
}


/*about*/

.about{
	width: 100%;
	background: url(../images/about-bg.jpg) no-repeat;
	background-size: cover;
}

.about hgroup{
	width: 100%;
	height: 3.85rem;
}

.about-content{
	width: 15.25rem;
	margin: 0 auto;
}

.about-content img{
	display: block;
	widows: 100%;
}

.about-xuanze{
	width: 100%;
	background: #fffdf8;
}

.about-xuanze .title{
	color: #e50000;
	font-size: 0.9rem;
	line-height: 1.125rem;
	text-align: center;
	font-weight: bold;
}

.about-xuanze .con{
	color: #0f0f0f;
	font-size: 0.45rem;
	text-indent: 2em;
	width: 14.4rem;
	line-height: 0.6rem;
	margin: 0.5rem auto 0;
	padding-bottom: 0.4rem;
}

.about-content .text{
	margin-top: 1px;
	width: 100%;
	background: #fffdf8;
	padding-top: 0.4rem;
}

.about-content .text p{
	color: #0f0f0f;
	font-size: 0.45rem;
	width: 14.4rem;
	line-height: 0.6rem;
	margin: 0 auto 0;	
}

.about-content .text img{
	display: block;
	margin-top: 0.5rem;
}

.yaoyuan{
	width: 15.25rem;
	margin: 0 auto;
	background: #fffbf2;
}

.yaoyuan .yaoyuan-title{
	height: 3.325rem;
	margin: 0 auto;
}

.yaoyuan dl{
	display: block;
	width: 14.375rem;
	margin: 0 auto;
}

.yaoyuan dl dt{
	color: #e50000;
	line-height: 0.75rem;
	font-weight: bold;
	font-size: 0.45rem;

}

.yaoyuan dl dd{
	color: #0f0f0f;
	line-height: 0.75rem;
	font-size: 0.45rem;
	text-indent: 2em;
	padding-bottom: 0.25rem;
}

.about .last-img{
	width: 15.25rem;
	display: block;
	margin: 0 auto;
	padding-bottom: 0.25rem;
}
















